#calculator {
    margin-top: 150px;
    border: 5px solid #519d7d;
    background: #333333;
    max-width: 250px;
}

#calculator button {
    height: 70px;
}

#calculator textarea {
    border-radius: 0%;
}

#home-page{
    text-align: center;
    width: 300px;
    height: 450px;
    border: 5px dashed #ddd;
    margin: 150px auto;
}

#home-page i{
    font-size: 90px;
    margin:50px 0 200px 0;
}

.btn-group {
    width: 100%;
}

.operations, .operations .btn-group button {
    background-color: #2fb7d3;
    color: #fff;
}

.operations .btn-group button {
    width: 25%;
}

.digits button {
    width: 33.3%;
}

.btn-group button {
    border: none;
    background: #393535;
    color: #fff;
    border-radius: 0;
}

.back-btn {
    margin-top: 40px;
}