<div class="container-fluid" id="calculator" ng-controller="CalcVM as calc">
    <div class="row">
        <textarea type="text" class="form-control" ng-model="calc.display"></textarea>
    </div>
    <div class="row operations">
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-ng-click="calc.addSymbol('%')">%</button>
            <button type="button" class="btn btn-default" data-ng-click="calc.addSymbol('*')">X</button>
            <button type="button" class="btn btn-default" data-ng-click="calc.addSymbol('-')">-</button>
            <button type="button" class="btn btn-default" data-ng-click="calc.addSymbol('+')">+</button>
        </div>
    </div>
    <div class="row digits">
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-ng-click="calc.addSymbol('7')">7</button>
            <button type="button" class="btn btn-default" data-ng-click="calc.addSymbol('8')">8</button>
            <button type="button" class="btn btn-default" data-ng-click="calc.addSymbol('9')">9</button>
        </div>
    </div>
    <div class="row digits">
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-ng-click="calc.addSymbol('4')">4</button>
            <button type="button" class="btn btn-default" data-ng-click="calc.addSymbol('5')">5</button>
            <button type="button" class="btn btn-default" data-ng-click="calc.addSymbol('6')">6</button>
        </div>
    </div>
    <div class="row digits">
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-ng-click="calc.addSymbol('1')">1</button>
            <button type="button" class="btn btn-default" data-ng-click="calc.addSymbol('2')">2</button>
            <button type="button" class="btn btn-default" data-ng-click="calc.addSymbol('3')">3</button>
        </div>
    </div>
    <div class="row digits">
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-ng-click="calc.addSymbol('.')">.</button>
            <button type="button" class="btn btn-default" data-ng-click="calc.addSymbol('0')">0</button>
            <button type="button" class="btn btn-default" data-ng-click="calc.ulate()">=</button>
        </div>
    </div>
</div>

<p class="text-center back-btn">
    <a ng-show="switch.showRoute(switch.routes.CALCULATOR)" data-ng-click="switch.open(switch.routes.HOME)" class="btn btn-primary">
        BACK
    </a>
</p>