<div id="home-page">
    <i class="fa fa-calculator" aria-hidden="true"></i>
    <br />
    <a class="btn btn-success" data-ng-click="switch.open(switch.routes.CALCULATOR)">
        Show calculator
    </a>
</div>